body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.boo-container {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#boo-top {
  fill: white;
  opacity: 1;
}

.lower-rings {
  fill: white;
  opacity: 0.75;
}

svg {
  width: auto;
  height: 100%;
}
